@model IList<Park>

@{
    ViewData["Title"] = "Home Page";
}

<div class="parallax">



</div>

<h1 class="title">All Parks</h1>
<div class="wrapper">
    @foreach (Park park in Model)
    {
        <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode">

            <div class="wrapper-row">

                <div class="column-index">
                    <img class="img-responsive index-image center" src="~/images/parks/@(park.ParkCode).jpg" />
                    
                    <p style="font-weight: bold">@park.ParkName</p>
                    <p>@park.State</p>
                    <p>@park.ParkDescription</p>
                </div>

            </div>

        </a>
    }
</div>