@model IList<SurveyResult>
@{
    ViewData["Title"] = "SurveyResults";
}

<h2>Survey Results</h2>

@foreach (var result in Model)
{

    <p>@result.ParkName</p>
    <img src="~/images/parks/@(result.ParkCode).jpg" />
    <p>@result.VoteTally</p>
}
    


