/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.wrapper {
    display: grid;
    grid-template-columns : 40vw 40vw;
}

.column-index {
    max-width: 100%;
    height: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

/*Detail Page*/

.detailWrapper {
    display: grid;
    grid-template-rows: auto auto auto;
}

.imgDisplay {
    grid-row: 1/2;
}

#imgDimension {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*below properties appear to have no effect*/
    width: 50vw;
    height: auto;
}

.parkInfo {
    grid-row: 2/3;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.weatherDisplay {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 30vw auto auto auto auto;
}

.weatherDisplayDay {
    grid-area: auto;
    border-width: 1px;
    border-style: solid solid solid solid;
    padding: 0 1px 0 1px;
}

.weatherimage {
    width: 10vw;
    height: auto;
}

.initialDayBottom {
    display: grid;
    grid-template-columns: auto auto;
}

.initialDayCell {
    grid-area: auto;
}

.initialDayImage {
    width: 15vw;
    height: auto;

    }

